---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, SITE_COLOR_MODE, SITE_THEME } from '../consts';
---

<!DOCTYPE html>
<html lang="en" class={SITE_COLOR_MODE}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script defer src="https://umami.tehj.io/script.js" data-website-id="14895ace-7579-4ed9-af55-880b73a07eac"></script>
	</head>
	<body class={SITE_THEME}>
		<Header title={SITE_TITLE} />
    <h1>Hi, I'm Julian. Welcome to my log.</h1>
		<Footer />
	</body>
</html>
