---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_BASEPATH } from '../consts';
---

<header>
	<h2>
		{SITE_TITLE}
	</h2>
	<nav>
		<HeaderLink href={ `${SITE_BASEPATH}/` }>Home</HeaderLink>
		<HeaderLink href={ `${SITE_BASEPATH}/about` }>About</HeaderLink>
		<HeaderLink href={ `${SITE_BASEPATH}/projects` }>Projects</HeaderLink>
		<HeaderLink href={ `${SITE_BASEPATH}/blog` }>Blog</HeaderLink>
		<a href="https://www.tehj.io">More</a>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
